body {
	background-color: #18193f;
}

.main_container {
	display: flex;
	justify-content: space-between;
	margin-left: 1em;
	margin-right: 1em;
	gap: 1.5em;
}

.recent_container {
	text-align: center;
}

.recent_title {
	color: white;
}

.shortcuts_container {
	background-color: #f4d1ae;
	border-radius: 20px;
	width: 120px;
	max-height: 150px;
	padding: 0.5em;
}

@media screen and (max-width: 750px) {
	.main_container {
		justify-content: center;
	}

	.recent_container,
	.shortcuts_container {
		display: none;
	}
}
